html, body {
    height: 100%;
    padding: 0;
    margin: 0;
    background-color: #F9F9F9;
}


header {
    height: 7vh;
    width: 100%;
    background-color: #FFFFFF;
}
.youtubeLogo {
    width: 70px;
    margin: auto;
    float:left;
}
#searchForm {
    margin-top: 10px;
    margin-left: 105px;
    float:left;
    width : 65%;
}
.headerButtons {
    margin-top: 10px;
    margin-left: 10px;

}
/*nav{*/
/*    background-color: red;*/
/*    width: 15%;*/
/*    height: 50vh;*/
/*    float:left;*/
/*}*/
main {
    float:left;
}
.navPics {
    height: 15px;
    margin-right: 5px;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 175px;
    float:left;
    background-color: #FFFFFF;
    font-size: small;
}

li a {
    display: block;
    color: #000;
    padding: 10px 14px;
    text-decoration: none;
}
